In [0]:
-- Window Functions

In [0]:
create table marks (
  student_name string,
  subject string,
  marks int
);

insert into marks values ('Sandeep', 'Maths', 80), ('Kiran', 'Maths', 90), ('Suraj', 'Maths', 60), ('Sandeep', 'Science', 90), ('Kiran', 'Science', 80), ('Suraj', 'Science', 70);

In [0]:
select * from marks;

In [0]:
select student_name, sum(marks) as totalMarks
from marks
group by student_name;

In [0]:
select student_name, subject, sum(marks) as total from marks
group by student_name, subject;

In [0]:
select subject, sum(marks) as total from marks
group by subject;

In [0]:
select 
*,
sum(marks) over (partition by student_name order by subject) as totalMarks
from marks;

In [0]:
insert into marks values ('Sandeep', 'Social', 97);

In [0]:
select 
*,
sum(marks) over (partition by student_name order by subject) as totalMarks
from marks;

In [0]:
-- 1. row_number
-- 2. rank
-- 3. dense_rank
-- 4. lead
-- 5. lag
-- 6. percentile
-- 7. first_value
-- 8. last_value
-- 9. ntile

In [0]:
select * from j2d.employee;

In [0]:
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee

In [0]:
-- find top salary in each department 
select * from
(
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
)
where rn = 1;

In [0]:
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
  where rn = 1;

In [0]:
select * from j2d.employee;

In [0]:
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
  where row_number() over (partition by dep_id order by salary desc) = 1;

In [0]:
-- common table expressions

with ranked as (
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
)
select * from ranked where rn = 1;

In [0]:
  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
  qualify row_number() over (partition by dep_id order by salary desc) = 1;

In [0]:
  select 
  *
  -- row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee
  qualify row_number() over (partition by dep_id order by salary desc) = 1;

In [0]:
insert into j2d.employee values (4, "Likith", 75000, 10);

In [0]:
select * from j2d.employee;

In [0]:
-- rank vs row_number

  select 
  *,
  row_number() over (partition by dep_id order by salary desc) as rn
  from j2d.employee;

In [0]:
  select 
  *,
  rank() over (partition by dep_id order by salary desc) as rn
  from j2d.employee;

In [0]:
insert into j2d.employee values (5, "Srinath", 75000, 10);

In [0]:
  select 
  *,
  rank() over (partition by dep_id order by salary desc) as rn
  from j2d.employee;

In [0]:
select 
*,
dense_rank() over (partition by dep_id order by salary desc) as rn
from j2d.employee;

In [0]:
delete from j2d.employee
where id in (4, 5) and dep_id = 10;

In [0]:
desc history j2d.employee;

In [0]:
restore table j2d.employee to version as of 4;

In [0]:
select * from j2d.employee;

In [0]:
use j2d;

In [0]:
insert into employee values (6, 'Srinath', 70000, 20), (7, 'Ravi', 80000, 30), (8, 'Kishore', 78000, 50);

In [0]:
select * from employee;

In [0]:
-- Lag
select
*,
lag(salary) over (partition by dep_id order by salary asc) as prev_salary_in_dep
from employee;

In [0]:
CREATE TABLE employee2 (
    emp_id INT,
    emp_name string,
    salary INT,
    year INT
);


INSERT INTO employee2 (emp_id, emp_name, salary, year) VALUES
(1, 'Alice', 50000, 2022),
(1, 'Alice', 55000, 2023),
(1, 'Alice', 60000, 2024),
(2, 'Bob', 40000, 2022),
(2, 'Bob', 42000, 2023),
(3, 'Charlie', 70000, 2023),
(3, 'Charlie', 75000, 2024),
(4, 'Diana', 80000, 2022);  -- Only one year of data for Diana

In [0]:
select * from employee2;

In [0]:
select
*,
lag(salary) over (partition by emp_id order by salary asc) as prev_salary
from employee2;

In [0]:
select
*,
lead(salary) over (partition by emp_id order by salary asc) as next_salary
from employee2;